.DS_Store
Hanashi.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Hanashi.xcodeproj/project.xcworkspace/xcuserdata
Hanashi.xcodeproj/project.xcworkspace
Hanashi.xcodeproj/xcuserdata/developer.xcuserdatad
